html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

body {
  display:flex;
  margin: 0;
}

body > nav {
  flex: 0 0 auto;
  order: 1;
  width: 130px;
  padding: 20px 32px;
}

body > nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body > nav > ul > li {
  margin-bottom:24px;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #3691d7;
}

main {
  flex: 1;
  order: 2;
  padding-top: 32px;
  margin-right: 130px;
}

article {
  width: 666px;
  margin: 0 auto;
}

article figure {
  margin: 0;
  width: 100%;
  display: flex;
  gap: 20px;
}

article figure img {
  max-width: 100%;
}

article figure img.half {
  width: 50%;
}

article figure.framed img {
  border: 1px solid black;
}

article > h1 {
  font-size: 36px;
  margin: 20px 0 28px 0;
}

article > p {
  margin: 20px 0;
}
article a {
  color: #3691d7;
}

article > time {
  color: #989898;
}

pre {
  background: #666;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
}
